<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProjectNhom.Properties.Settings.TSQLFundamentals2008ConnectionString"
            connectionString="Data Source=HAILTSE61184\SQLEXPRESS;Initial Catalog=TSQLFundamentals2008;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>